.page-title {
  padding: 24px;
  background-color: #3fe699;
}

.fab-bar {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 99;
}

.contents-container {
  padding: 24px 0;
}

.day-card {
  margin-bottom: 24px;
}

.at-card__content {
  padding-top: 0;
}

.top-icon {
  padding: 0 16px;
}

.picker {
  border-radius: 48px;
  background-color: #0000001f;
  padding: 8px 28px;
  color: white;
}
